:root {
  --ivory-white: #f4f6f8;
  --obsidian-black: #0b0d10;
  --bugatti-blue: #204070;
}
@font-face {
  font-family: "Thunder-BlackLC";
  src: url(fonts/Thunder-BlackLC.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'impact';
  src: url(fonts/impact.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Halcom-Black';
  src: url(fonts/Halcom/Halcom-Regular-BF648a71453957a.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #dfe3ee 0%, #fcfcfd 45%, #dce0e8 100%);
    color: var(--obsidian-black);
    overflow-x: hidden;
}
/*----NAVIGATION-----*/
.nav{
  width: 100%;
  height: 76px;
  padding: 24px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  color: #0b0d10;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-icon{
  width: 25px;
}
.nav-logo{
  width: 220px;
  height: 220px;
}
.float{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background-color: gray;
  list-style-type: none;
}
.float li{
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 10px 25px;
}
.float li a{
  text-decoration: none;
  color: var(--obsidian-black);
}

/*---------Hero-section------------*/


.hero-section{
  width: 100%;
  max-width: 1400px;
  height: 90vh;
  min-height: 768px;
  background: linear-gradient
  (to bottom, 
  #f6f6f6 0%,
  #f1f1f1 55%,
  #e9e9e9 75%,
  #e3e3e3 100%);
  position: relative;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 55%;
  left: -10%;
  width: 120%;
  height: 200px;
  background: radial-gradient(
    ellipse at center,
    rgba(0,0,0,0.08) 0%,
    rgba(0,0,0,0.04) 40%,
    rgba(0,0,0,0.02) 60%,
    transparent 70%
  );
  filter: blur(25px);
}
.ghost-text{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 22vw;
  letter-spacing: 10px;
  background: linear-gradient(to bottom,
  #bac2d4 0%,
  #c8cfd9 50%,
  #ebebee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1;
  white-space: nowrap;
}
.white-overlay{
  width: 100%;
  height: 80px;
  background-color:#f7f7f5;
  filter: blur(35px);
  position: absolute;
  top: 40%;
}
.dark-overlay{
  width: 100%;
  height: 50%;
  background-color: #c8cfd9ad;
  filter: blur(30px);
  border: 30px;
  position: absolute;
  bottom: 0;
}
.hero-img-box{
  width: 85%;
  max-width: 1200px;
  height: auto;
  position: absolute;
  left: 4%;
  bottom: 2%;
  z-index: 15;
}
.hero-car-image{
  width: 100%;
  z-index: 10;
}
.car-shadow{
  width: 40%;
  height: 50px;
  background-color: #5b5a5a;
  border-radius: 50%;
  filter: blur(30px);
  transform: rotate(-10deg);
  position: absolute;
  bottom: 25%;
  left: 45%;
  z-index: -10;
}
/*-------stats-------------*/

.stat-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%,-50%);
  gap: 60px;
  z-index: 10;
}
.glass{
  min-width: 180px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}
.stat-card{
  min-width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.stat-value{
  font-family: 'Halcom-Black', sans-serif; 
  font-size: 28px; 
  color: #000; 
  font-weight: 600;
}
.stat-unit{
  font-size: 22px;
  font-weight: 100;
  font-family: 'Halcom-Black', sans-serif;
}
.stat-label{ 
  font-family: 'Halcom-Black', sans-serif; 
  display: block; 
  margin-top: 8px; 
  font-size: 14px; 
  color: #555; 
  font-weight: 400; 
}
.btn-row{
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -2%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  padding: 14px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: trasnform 0.2s ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-primary{
  background-color: var(--bugatti-blue);
  color: white;
  box-shadow: 0 10px 20px rgba(32, 64, 112, 0.3);
}
.btn-secondary{
  background-color: rgba(255, 255, 255, 0.4);
  color: #555;
  border: 1px solid rgba(255, 255, 255, 0.6);
}