:root {
  --ivory-white: #f4f6f8;
  --obsidian-black: #0b0d10;
  --bugatti-blue: #204070;
  --primary-text: #1a1a1ae6;
  --secondary-text: #888;
}
@font-face {
  font-family: "Thunder-BlackLC";
  src: url(fonts/Thunder-BlackLC.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "impact";
  src: url(fonts/impact.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Halcom-Black";
  src: url(fonts/Halcom/Halcom-Regular-BF648a71453957a.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  /*background: linear-gradient(to bottom, #dfe3ee 0%, #fcfcfd 45%, #dce0e8 100%);*/
  color: var(--obsidian-black);
  overflow-x: hidden;
}
/*----NAVIGATION-----*/
.nav {
  width: 100%;
  height: 76px;
  padding: 24px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: var(--obsidian-black);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-icon {
  width: 25px;
}
.nav-logo {
  width: 220px;
  height: 220px;
}
.float {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background-color: gray;
  list-style-type: none;
  z-index: 20;
}
.float li {
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 10px 25px;
}
.float li a {
  text-decoration: none;
  color: var(--obsidian-black);
}

/*---------Hero-section------------*/

.hero-section {
  width: 100%;
  max-width: 1400px;
  height: 90vh;
  min-height: 768px;
  padding: 50px 0;
  background: linear-gradient
    (to bottom, #f6f6f6 0%, #f1f1f1 55%, #e9e9e9 75%, #e3e3e3 100%);
  position: relative;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 55%;
  left: -10%;
  width: 120%;
  height: 200px;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0.04) 40%,
    rgba(0, 0, 0, 0.02) 60%,
    transparent 70%
  );
  filter: blur(25px);
}
.ghost-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 22vw;
  letter-spacing: 10px;
  background: linear-gradient(to bottom, #bac2d4 0%, #c8cfd9 50%, #ebebee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1;
  white-space: nowrap;
}
.white-overlay {
  width: 100%;
  height: 80px;
  background-color: #f7f7f5;
  filter: blur(35px);
  position: absolute;
  top: 40%;
}
.dark-overlay {
  width: 100%;
  height: 50%;
  background-color: #c8cfd9ad;
  filter: blur(30px);
  border: 30px;
  position: absolute;
  bottom: 0;
}
.hero-img-box {
  width: 85%;
  max-width: 1200px;
  height: auto;
  position: absolute;
  left: 4%;
  bottom: 2%;
  z-index: 15;
}
.hero-car-image {
  width: 100%;
  z-index: 10;
}
.car-shadow {
  width: 40%;
  height: 50px;
  background-color: #5b5a5a;
  border-radius: 50%;
  filter: blur(30px);
  transform: rotate(-10deg);
  position: absolute;
  bottom: 25%;
  left: 45%;
  z-index: -10;
}
/*-------stats-------------*/

.stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 60px;
  z-index: 10;
}
.glass {
  min-width: 180px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}
.stat-card {
  min-width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.stat-value {
  font-family: "Halcom-Black", sans-serif;
  font-size: 28px;
  color: #000;
  font-weight: 600;
}
.stat-unit {
  font-size: 22px;
  font-weight: 100;
  font-family: "Halcom-Black", sans-serif;
}
.stat-label {
  font-family: "Halcom-Black", sans-serif;
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  font-weight: 400;
}
.btn-row {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  padding: 14px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: trasnform 0.2s ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: var(--bugatti-blue);
  color: white;
  box-shadow: 0 10px 20px rgba(32, 64, 112, 0.3);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}
.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 24px rgba(32, 64, 112, 0.4);
}
.btn-secondary {
  background-color: rgba(255, 255, 255, 0.4);
  color: #555;
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition:
    background 0.3s ease,
    border 0.3s ease;
}
.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.55);
  border-color: rgba(0, 0, 0, 0.25);
}

/*---------Philosophy section---------*/

.philosophy {
  width: 100%;
  height: 80vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  
  position: relative;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}
.philosophy .container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}
.philosophy-text {
  flex: 1;
  z-index: 5;
}
.sub-label {
  text-transform: uppercase;
  font-size: 16px;
  color: #204070;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 25px;
}
.main-heading {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: clamp(4rem, 6vw, 6rem);
  line-height: 0.95;
  color: #1a1a1ae6;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.description {
  font-size: 18px;
  color: #888;
  line-height: 1.5;
  max-width: 480px;
  margin-bottom: 30px;
}
.story-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: 0.3s ease;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}
.story-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s ease;
}

.story-link:hover::after {
  width: 34%;
}

.arrow-icon {
  width: 16px;
}
.philosophy-visual {
  flex: 1.2;
  position: relative;
}
.rear-view {
  width: 100%;
  height: auto;
  display: block;
  z-index: 2;
  position: relative;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.05);
}
.bg-watermark {
  position: absolute;
  bottom: -80px;
  right: -20px;
  z-index: 10;
  font-size: 12rem;
  font-family: "Anton", sans-serif;
  color: #99999942;
  line-height: 1;
}
@media (max-width: 900px) {
  .philosophy .container {
    flex-direction: column;
    gap: 40px;
  }

  .main-heading {
    font-size: 4rem;
  }
}

/*--------engineering---------------*/

.engineering-sec {
  padding: 80px 0;
  background: #fff;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 60px;
  align-items: center;
}
h2 {
  font-family: 'Anton', sans-serif;
  font-size: clamp(3rem, 5vw, 4.5rem);
  line-height: 1;
  color: var(--primary);
  margin-bottom: 20px;
}
.card-stack{ 
  display: grid; 
  gap: 15px; 
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.2s;
}

.card:hover { 
  transform: translateY(-3px); 
  border-color: var(--accent); 
}

.icon {
  width: 40px; height: 40px;
  background: #f4f4f4;
  border-radius: 6px;
  display: flex; center; justify-content: center; align-items: center;
}
.icon img { 
  width: 20px; 
  stroke: #444; 
}

label { 
  font-size: 11px; 
  text-transform: 
  uppercase; 
  color: var(--secondary-text); 
  font-weight: 600; 
  display: block; 
}
b { 
  font-family: 'Anton', sans-serif; 
  font-size: 18px; 
  text-transform: uppercase; 
  color: var(--obsidian-black); 
  font-weight: 500;
}

.visual {
  position: relative;
  display: flex;
  justify-content: center;
}
.visual img {
  width: 180%;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 30px 60px rgba(0,0,0,0.15));
}
.engine-shadow{
  width: 450px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(12deg);
  background-color: rgba(0,0,0,0.2);
  filter: blur(30px);
  position: absolute;
  bottom: 100px;
  
}
@media (max-width: 900px) {
  .container { grid-template-columns: 1fr; text-align: center; }
  .card { width: 100%; text-align: left; }
  p { margin: 0 auto 40px; }
  .visual img { width: 100%; margin-top: 40px; }
}

/*----------Gallery Section-------*/
.gallery-sec{
  padding: 80px 0;
  background-color: #fff;
  text-align: center;
}
.label{
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  color: var(--primary-text);
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 30px;
}
.gallery-stage{
  max-width: 900px;
  margin: 0 auto 16px;
}
.main-image{
  width: 100%;
  border-radius: 10px;
}
.gallery-thumb{
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
}
.thumb{
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s ease;
}
.thumb.active, 
.thumb:hover { 
  opacity: 1; 
  border: 1px solid #fff; 
}
.tag{
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--secondary-text);
}

/*--------Exclusive section-----*/
.exclusive-section{
  width: 100%;
  padding: 100px 0 120px;
  text-align: center;
  background: radial-gradient(circle at center, #ffffff 0%, #f0f2f5 100%);
  display: flex;
  justify-content: center;
}
.exclusive-container{
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.exclusive-container::before,
.exclusive-container::after {
  content: "";
  position: absolute;
  top: 15%;
  width: 140px;
  height: 70%;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    #eaeeef 50%,
    rgba(255,255,255,0) 100%
  );
  z-index: 0;
}
.exclusive-container::before { 
  left: -40px; 
}
.exclusive-container::after { 
  right: -40px; 
}
.exclusive-header,
.exclusive-visual,
.exclusive-footer {
  position: relative;
  z-index: 2;
}
.exclusive-sub{
  font-family: 'Inter', serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.exclusive-heading{
  font-family: 'Playfair Display', 'Times New Roman', serif;
  text-transform: uppercase;
  font-size: clamp(3rem,8vw,8rem);
  line-height: 0.9;
  color: var(--obsidian-black);
  margin-bottom: -40px;
  position: relative;
  z-index: 1;
}
.exclusive-visual{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  top: -80px;
}
.exclusive-car{
  width: 100%;
  height: auto;
  display: block;
  filter: drop-shadow(0 40px 60px rgba(0,0,0,0.15));
}
.exclusive-footer{
  position: relative;
  margin-top:-150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exclusive-desc{
  font-family: 'Inter',sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #444;
  max-width: 600px;
}
.piller{
width: 200px;
  height: 50%;
  background: linear-gradient(to bottom, #ffffff 0%,#eaeeef 100%);
}
.left-piller{
  position: absolute;
  left: 0;
  
}
.right-piller{
  position: absolute;
  right: 0;
}