:root{
    --ivory-white: #f4f6f8;
    --obsidian-black: #0b0d10;
    --carbon-gray: #1c1f26;
    --bugatti-blue: #0F4C81;
    --steel-silver: #A7ADB5;
    --caliper-red: #C1121F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(to bottom, #eceef1 0%,#fff 40%,#dcdfe4 100%);
  overflow: hidden;
  color: var(--obsidian-black);
}

.nav{
  width: 100%;
  height: 76px;
  position: absolute;
  top: 0;
  padding: 0 48px;
  display: grid;
  grid-template-columns: 1fr auto 1fr ;
  align-items: center;
  font-size: 13px;
  letter-spacing: 2px;
  z-index: 10;
}
.nav-link{
  text-decoration: none;
  color: var(--obsidian-black);
  text-transform: uppercase;
}
.nav-link.left{
  text-align: left;
}
.nav-link.center{
  text-align: center;
  font-size: 24px;
  font-style: italic;
}
.nav-link.right{
  text-align: right;
}
