:root{
    --ivory-white: #f4f6f8;
    --obsidian-black: #0b0d10;
    --carbon-gray: #1c1f26;
    --bugatti-blue: #0F4C81;
    --steel-silver: #A7ADB5;
    --caliper-red: #C1121F;
}
@font-face {
  font-family: 'Thunder-BlackLC';
  src: url(fonts/Thunder-BlackLC.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #eceef1 0%,#ffffff 40%,#dcdfe4 100%) no-repeat;
  color: var(--obsidian-black);
  overflow-x: hidden;
}

.nav{
  position: absolute;
  top: 0;
  left: 0;
  background: #dde1ec;
  width: 100%;
  height: 76px;

  padding: 20px 48px;
  display: grid;
  grid-template-columns: 1fr auto 1fr ;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  z-index: 10;
}
.nav-link{
  text-decoration: none;
  color: var(--obsidian-black);
  text-transform: uppercase;
}
.nav-link.left{
  text-align: left;
}
.nav-link.center img{
  width: 200px;
}
.nav-link.right{
  text-align: right;
}
.nav-link:hover{
  color: #2d3235;
}

/*------------Hero Section-------------------*/

.hero{
  height: 100vh;
  min-height: 820px;
  background: linear-gradient(to bottom, #dde1ec 35%, #f5f6f9 55%, #d3d9ea 100%);
  position: relative;
  overflow: hidden;
}
.ghost-logo{
  font-family: 'Thunder-BlackLC';
  letter-spacing: 2px;
  font-size: 18rem;
  text-transform: uppercase;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%);

  background: linear-gradient(to bottom, #94a2b7, #bcc3d2, #e9ebef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.car{
  width: 63%;
  max-width: 1200px;
  position: absolute;
  bottom: 25%;
  left: 52%;
  transform: translateX(-50%) scale(1.15);
  z-index: 10;
}
.overlay-gray{
  background-color: #94a2b7;
  width: 100%;
  height: 45%;
  border-radius: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  transform: scale(1.1);
  filter: blur(5px);
}
.overlay{
  width: 55%;
  height: 100px;
  border-radius: 10%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
}
.overlay-white{
  background-color: white;
  filter: blur(30px);
  opacity: 0.6;
}
.overlay-black{
  background-color: #7f8487;
  top: 60%;
  left: 25%;
  transform: rotate(-5deg);
  border-radius: 50%;
  filter: blur(20px);
  opacity: 0.4;
}

/*--------STATS-----------*/

.stat-section{
  width: 100%;
  padding: 50px 0;
  text-align: center;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.stats{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.glass{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(16px);
  --webkit-backdrop-filter:blur(16px);
  padding: 22px 28px;
  border-radius: 16px;
  min-width: 170px;
}
.stat h2{
  font-size: 20px;
  font-weight: 400;
}
.number{
  font-size: 26px;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.stat p{
  margin-top: 10px;
  font-size: 15px;
  color: #6b7280;
}

/*--------Expore CTA----------------*/

.cta-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.cta{
  text-decoration: none;
  color: #51545b;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 2px 2px 10px rgba(203, 202, 202, 0.263);
}
.cta.explore{
  background-color: #204070;
  color: var(--ivory-white);
  font-weight: 500;
}